.city-grid {
  margin: rem(60) 0;

  .container {
    padding: 0;
  }
  .wrapper {
    display: flex;
    column-gap: rem(60);
    justify-content: space-between;
  }
  .col {
    flex: 0 0 40%;
    &--image {
      flex: 0 0 50%;
    }
  }
  &.image-left {
    .col--image {
        order: -1;
    }
  }

  .content {
    border-radius: rem(10);
    padding: rem(20);
    h2 {
      margin-bottom: rem(20);
    }
    a {
      display: flex;
      align-items: center;
      column-gap: rem(6);
    }
    .city-name {
      font-weight: 500;
      transition: transform 0.6s ease;
    }
    .city-icon {
      flex: 0 0 18px;
    }
  }

  .city-list {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    gap: rem(10);
    li {
      padding: rem(8) rem(10);
      margin-bottom: 0;
      max-height: rem(40);
      cursor: pointer;
      font-weight: 500;
      border-radius: rem(10);

      @include can-hover {
        &:hover {
          a {
            text-decoration: none;
          }
          .city-name {
            transform: translateX(10px);
          }
          .city-icon {
            opacity: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .city-grid {
    .wrapper {
      flex-direction: column;
      row-gap: rem(60);
    }
    .content {
      padding: rem(16);
    }
  }
}