.site-footer {
  padding: rem(60) 0 rem(20);
  background-color: $footer-bg-color;

  .footer-content {
    color: $footer-text-color;

    figure {
      max-width: rem(180);
      margin: rem(25) 0;
    }

    .menubox {
      .menubox-title {
        font-size: rem(24);
        font-weight: 600;
        margin-bottom: rem(28);
      }
    }

    .footer-top {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: rem(30);
      & a {
        color: $footer_link_color;
      }

      .menu-container {
        padding: 0;
        width: 40%;
        &:first-child {
          width: 33%;
        }
        &.menu-header-menu-container {
          padding: 0;
        }

        .wrapper {
          display: flex;
          height: 100%;
          justify-content: space-between;
        }

        .col {
          display: block;
          float: unset;
          @include flex-child-width(2, rem(20));
        }

        & ul li {
          padding: 0;
          &:before {
            display: none;
          }
        }
      }
    }

    .footer-middle {
      & a {
        color: $footer_link_color;
        @include hover-underline();
      }
      .wrapper {
        display: flex;
        align-items: center;
        height: 100%;
        .col {
          display: block;
          float: unset;
          @include flex-child-width(2, rem(20));

          p {
            margin-bottom: 0;
          }
        }
      }
    }

    .footer-bottom {
      padding: rem(28) 0 rem(14);
      margin-top: rem(28);
      border-top: 1px solid $footer_link_color;
      .footer-widget p {
        margin: 0 auto;
        text-align: center;
      }

      & a {
        color: $footer_link_color;
      }
    }
  }
}

@media screen and (max-width: $smallLaptop) {
  .site-footer {
    .footer-content {
      .footer-top {
        .menu-container {
          width: 45%;
          &:first-child {
            width: 45%;
          }
          }
        }
      }
    }
  }

@media screen and (max-width: $tablet) {
  .site-footer {

    .footer-content {

      .footer-top {
        flex-direction: column;

        .menu-container {
          width: 100%;
          &:first-child {
            width: 100%;
          }
        }
      }
    }

  }
}

@media screen and (max-width: $mobile) {
  .site-footer {
    padding: rem(60) rem(10) rem(20);

    .footer-content {

      .footer-top {
        flex-direction: column;

        .menu-container {
          width: 100%;
          &:first-child {
            width: 100%;
          }
        }
      }

      .footer-middle {
        margin-top: rem(30);
        & > .wrapper {
          flex-direction: column;
          row-gap: rem(30);
        }

        .wrapper {
          .col {
            width: 100%;
            .icons-block {
              margin: 0 auto;
            }
          }

        }
      }
    }
  }
}
